In [ ]:
#normal logic for printing an even list
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)

print(l)

[2, 4, 6, 8, 10]

In [6]:
#list comprehension

l=[i for i in range(5) if i%2==0]

print(l)

[0, 2, 4]

In [282]:
a=[e**2 for e in a if type == type.Inttype()]
print(a)

TypeError: 'datetime.datetime' object is not iterable

In [9]:
#List Comprehension Tasks
#find all the numbers between 1-1000 that are divisible by 7
a=[i for i in range(1,1001) if i%7==0]
print(a)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [15]:
#find all the numbers that have 3 in them
a=[i for i in range(1,1001)  if '3' in str(i) ]
print(a)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [26]:
#count the number of spaces in string
b="Mano haran shri ram"
a=sum([1 for i in b if i == " "])

print(a)

3

In [31]:
#Create a list of all consonants in the string "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"

a="Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"

c="AEIOUaeiou"

b=([i for  i in a if i not in c ])
print(b)

['Y', 'l', 'l', 'w', ' ', 'Y', 'k', 's', ' ', 'l', 'k', ' ', 'y', 'l', 'l', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 'w', 'n', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 's', 't', 'r', 'd', 'y', ' ', 't', 'h', 'y', ' ', 'y', 'd', 'l', 'd', ' ', 'w', 'h', 'l', ' ', 't', 'n', 'g', ' ', 'y', 'k', 'y', ' ', 'y', 'm', 's']

In [37]:
#Get the index and the value as a tuple for items in the list "hi",4,8.99,'apple',(t,b,n). Result would look like (index,value)
a=("hi",4,8.99,'apple',('t','b','n'))
b=[(i,a[i]) for i in range(len(a))]

print(b)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [38]:
#find the common numbers in two lists (without using a tuple or set)
list_a =1,2,3,4 
list_b =2,3,4,5

a=[i for i in list_a if i in list_b]
print(a)

[2, 3, 4]

In [46]:
# Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'

a='In 1984 there were 13 instances of a protest with over 1000 people attending'

b=[i for i in a.split(' ') if i.isdigit()]
print(b)

['1984', '13', '1000']

In [52]:
#Given numbers  = range(20) , produce containing the word e'even' if a number in numbers is even and the word 'odd' if the number is odd . Result would look like 'odd' 'odd' 'even'

a=['even' if i%2==0 else "odd" for i in range(20)  ]  #i if i % 2 == 0 else 0 for i in range(1, 11)]
print(a)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [55]:
#Produce a list of tuples consisting of only the matching numbers in these lists  list_a = 1,2,3,4,5,6,7,8,9  list_b = 2,7,1,12 Result would look like (4,4)(12,12)
list_a = 1,2,3,4,5,6,7,8,9 
list_b = 2,7,1,12

b=([(i,i) for i in list_a if i in list_b])
print(b)

[(1, 1), (2, 2), (7, 7)]

In [65]:
#Use a nested list comprehension to find all the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9)
#new_list = [[expression for item in list] for item in list] (for ref)

# numbers = [n for n in range(1, 101) if any([n % d == 0 for d in range(2, 10)])] 
# print(numbers)

#sir logic 
result = [number for number in range(1,101) if True in [True for x in range(2,10) if number % x==-0]]
print(result)
# a=[i for i in range(1,11) if any([i%d==0 for d in range(2,10)])]
# print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]

In [60]:
#Find all the 4 letter words in string Use a nested list comprehension



a="Manoharan Shri Ram is a employeee of Mphasis"

b=[i for i in a.split() if len(i) < 4]

print(b)

['Ram', 'is', 'a', 'of']

In [66]:
#dict  comprehension 

d= {i:i**2 for i in range(10)}

print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [68]:
#DICT COMPREHENSION
#1.Convert two Lists into a dictionary  
# Task:Given Keys =[a,b,c] and values = [1,2,3] , create a dictionary using dict comprehension
a=['a','b','c']
b=[1,2,3]
s={a[i]:b[i] for  i in range(3)}
print(s)

{'a': 1, 'b': 2, 'c': 3}

In [72]:
#Invert a dictionary 

a={'a': 1, 'b': 2, 'c': 3}

s={j:i for i,j in a.items()} 
print(s)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
#Count Occurences of a character in a word 

#Task : given a string create a dict with character counts 

# input_string = "example"
# char_count = {char: input_string.count(char) for char in set(input_string)}
# print(char_count)

a="wevgnnNGVNWEGNE"

b=a.lower()


c={i:b.count(i) for i in b}

print(c)

{'w': 2, 'e': 3, 'v': 2, 'g': 3, 'n': 5}

In [163]:
#Merge two dictionaries (add values if keys match )

# Task: Combine Two dictionaries by adding values for common keys

a = {'b': 4, 'a': 3, 'n': 2, 'e': 1, 'v': 1, 'j': 1}
b = {'b': 4, 'a': 3, 'n': 2, 'e': 1, 'v': 1, 'j': 1}
n = {k: (v + b[k] if i % 2 == 0 else v) for i, (k, v) in enumerate(a.items())}
print(n)

{'b': 8, 'a': 3, 'n': 4, 'e': 1, 'v': 2, 'j': 1}

In [76]:
#map(),filter(),reduce()
#map(func,iter)

l=[1,2,3,4,5]
a=[]
for i in l:
    area=3.14*i**2
    a.append(area)

print(a)

[3.14, 12.56, 28.26, 50.24, 78.5]

In [77]:
def area(a):
    return 3.14*a**2

list(map(area,l))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [78]:
list(map(lambda a:3.14*a**2,l))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [79]:
#filter function 

l=[2,3,4,5,6,7,8]

list(filter(lambda a : a%2==0,l))

[2, 4, 6, 8]

In [80]:
#reduce 
from functools import reduce

data=[2,3,5,7,11,13,17]

multiply=lambda x,y:x*y

reduce(multiply,data)

510510

In [82]:
city=["","chennai","","banglore","pondicherry","","velacherry"]

list(filter(None,city))

['chennai', 'banglore', 'pondicherry', 'velacherry']

In [ ]:
# MAP Tasks

#task : Square each number in list

l=[1,2,3,4,5]

list(map(lambda a:3.14*a**2,l))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [87]:
#Convert a List of strings to uppercase

l=['Mano','Mahi','Vishal']

list(map(lambda a:a.upper(),l))

['MANO', 'MAHI', 'VISHAL']

In [90]:
#Add Two lists Element WIse

l1=[1,2,3,4]
l2=[1,2,3,4]

list(map(lambda a,b:a+b,l1,l2))

[2, 4, 6, 8]

In [92]:
# #list1 = [1,2,3,4,5]
# list2 = [10,20,30,40,50]
# list3 = [100,200,300,400,500]
# output = [111,222,333,444,555]


list1 = [1,2,3,4,5]
list2 = [10,20,30,40,50]
list3 = [100,200,300,400,500]

list(map(lambda x,y,z : x+y+z,list1,list2,list3))

[111, 222, 333, 444, 555]

In [ ]:
#FILTER tasks

#Filter even numbers from a list

list1=[1,2,3,4,5]

list(filter(lambda x: x%2==0,list1))

[2, 4]

In [95]:
#filter a list of words with length > 4

list2=['ram','mahi','mano','shri','vis']

list(filter(lambda x: len(x) >= 4,list2))

['mahi', 'mano', 'shri']

In [96]:
#filter out empty strings

list3=['ram','mahi','mano','shri','vis','','','']

list(filter(lambda x: x=="",list3))

['', '', '']

In [118]:
#filter pprime num from a list


def prime(a):
  
        if a<=1:
            return False
        for j in  range(2,a//2 +1):
            if a%j==0:
                return False
        return True


list4=[1,2,3,4,5,6,7,8,9,10,11]

list(filter(prime , list4 ))

[2, 3, 5, 7, 11]

In [127]:
#reduce tasks

#Concatenate a list of strings using reduce

l=['Mano','haran'," ","Shri","ram"]

reduce(lambda x,y:x+y,l) #reduce(multiply,data)

'Manoharan Shriram'

In [132]:
#Max from list

l1=[1,2,3,4,5,6,7,8,99,10,11]

reduce(lambda x,y:x if x > y else y,l1)

99

In [ ]:
#hash
# same input will give same has values (case sensitive)

a=hash('123')
print(a)

5410619689312623468

In [138]:
b=hash(input())
print(b)

5410619689312623468

In [141]:
import hashlib
h=hashlib.new("sha256")
correct_password="1234567"
h.update(correct_password.encode())
password_hash=h.hexdigest()
print(password_hash)

8bb0cf6eb9b17d0f7d22b456f121257dc1254e1f01665370476383ea776df414

In [142]:
import hashlib
h=hashlib.new("sha256")
correct_password="1234567"
h.update(correct_password.encode())
password_hash=h.hexdigest()
print(password_hash)

8bb0cf6eb9b17d0f7d22b456f121257dc1254e1f01665370476383ea776df414

In [144]:
# pip 
#pip install django
#pip list

In [145]:
import math

a=math.pi
print(a)

3.141592653589793

In [147]:
a=4
b=math.factorial(4)
print(b)

24

In [153]:
a=1.5

print(abs(a))
print(math.floor(a))

1.5
1

In [154]:
x=5
b=2
c=pow(5,2)
print(c)

25

In [156]:
x=9
print(math.sqrt(x))

3.0

In [161]:
import statistics

l=[1,2,3,4,5]

print(min(l))

print(max(l))

print(statistics.mean(l))


print(statistics.median(l))


print(statistics.mode(l))

print(statistics.stdev(l))

print(statistics.variance(l))

1
5
3
3
1
1.5811388300841898
2.5

In [164]:
#random module 

#random.choice()

import random

l=[1,2,3,4,5]

print(random.choice(l))

4

In [182]:
#random.choices()

l=[1,2,3,4,5]

print(random.choices(l,k=3))

[3, 3, 1]

In [178]:
#random.sample()

l=[1,2,3,4,5]

print(random.sample(l,2))

[3, 2]

In [ ]:
#random.randint()
print(random.randint(1,20))

20

In [187]:
#random.seed()

print(random.seed(a=100,version=2))

None

In [203]:
#random.uniform()

print(random.uniform(1, 1000))

947.87965957229

In [ ]:
#random.seed()

random.seed(2)
print(random.randint(1, 1000))

979

In [ ]:
#OS module 


import os 
print(os.curdir) #to get current directory
print(os.chdir) #to change directory
print(dir(os))
 
#current directory

print(os.getcwd())

.
<built-in function chdir>
['DirEntry', 'EX_OK', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_blocking', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'listdrives', 'listmounts', 'listvolumes', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_blocking', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']
c:\Users\manoharan.h\Python_Training

In [ ]:
# To list files and folders
print(os.listdir())

['avg1.py', 'count1.py', 'Day1_3.ipynb', 'Day_4.ipynb', 'Day_5.ipynb', 'Day_6.ipynb', 'jumbled.words.py', 'main.py', 'sum1.py', 'vow.py', '__pycache__']

In [216]:
#details

print(os.stat('sum1.py'))

os.stat_result(st_mode=33206, st_ino=27866022696117417, st_dev=16875045541811345585, st_nlink=1, st_uid=0, st_gid=0, st_size=1434, st_atime=1743996489, st_mtime=1743757032, st_ctime=1743656171)

In [217]:
#last modification time
print(os.stat('sum1.py').st_mtime)

1743757032.836022

In [222]:
#timestamp 
from datetime import datetime

m=os.stat('sum1.py').st_mtime
print(datetime.fromtimestamp(mod))

2025-04-04 14:27:12.836022

In [ ]:
#environ 

print(os.environ.get())  #to get the environment(virtual)

In [ ]:
#entire directory #not completed

import ose

for dirpath,dirnames,filenames in os.walk('D:/files'):
    print("Current path:",dirpath)
    print("Directories:" , dirnames)
    print("Filenames",filenames)

In [227]:
print(os.path.dirname('tmp/test.txt'))
print(os.path.basename('tmp/test.txt'))
print(os.path.split('tmp/test.txt'))

tmp
test.txt
('tmp', 'test.txt')

In [228]:
#time module 

import time

print(time.ctime())

Mon Apr  7 16:25:42 2025

In [ ]:
print(time.time()) #time in seconds

1744023356.7310812

In [230]:
print(time.localtime())

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=16, tm_min=28, tm_sec=48, tm_wday=0, tm_yday=97, tm_isdst=0)

In [232]:
time.sleep(2) #to pause the execution
print("Helllo")

Helllo

In [ ]:
print(time.strftime("%Y-%m-%d %H:%M:%S"))

25-04-07 16:38:23

In [234]:
start_time=time.perf_counter()
time.sleep(3)
end_time=time.perf_counter()
end_time-start_time

3.0004099999787286

In [239]:
import timeit

#time to check if 500 is in a list 

list_time =timeit.timeit(stmt="500 in my_list",setup="my_list = list(range(1000))",number=10000)

#Time to check if 500 is in a set 

set_time = timeit.timeit(stmt="500 in my_list",setup="my_list = set(range(1000))",number=10000)

print("List lookup:" ,list_time)
print("Set lookup",set_time)

List lookup: 0.03840479999780655
Set lookup 0.00044159998651593924

In [ ]:
def test():
    return sum([i for i in range(10000)])

import timeit

print(timeit.timeit(test,number=1000)) #number of times the program (function) has been exectued

0.0005779999773949385

In [255]:
#Display time for every second
for i in range(5):
        time.sleep(1)
        print(time.ctime())

Mon Apr  7 17:03:29 2025
Mon Apr  7 17:03:30 2025
Mon Apr  7 17:03:31 2025
Mon Apr  7 17:03:32 2025
Mon Apr  7 17:03:33 2025

In [263]:
#Current year and month
print(time.strftime("%Y-%m"))

2025-04

In [254]:
def func():
    return "Hello"

print(timeit.timeit(func,number=1000000))

0.03977720002876595

In [260]:
#stopwatch

n=input("press enter to start")
s=time.perf_counter()
n=input("enter to stop")
e=time.perf_counter()
print(e-s)

5.168452200014144

In [ ]:
# Datetime Tasks

print(datetime.now())

2025-04-07 17:17:30.895510

In [272]:
#Days until a specified date

#set your target date

target_date = datetime(2025,12,31) #Dec 31 2025

#get today's date

today = datetime.today()

#calculate the difference

days_left = (target_date-today)

print(f'Days until {target_date.date()} : {days_left}')

Days until 2025-12-31 : 267 days, 6:31:15.472203

In [279]:
#convert a user input from yyyy-mm-dd  to dd-mm-yy

user_input = input("Enter the date in YYYY-MM-DD format: ")

#convert to datetime object
date_obj = datetime.strptime(user_input,"%Y-%m-%d")

#Format to DD-MM-YYYY
formatte_date = date_obj.strftime("%d-%m-%Y")

print("Formatted date: " , formatte_date)

Formatted date:  09-06-2025

In [281]:
#Random 
# Task: Random data Generator for testing 
# Description  : Create a script that generates fake data for 10 users. Each user should have:
# A Random full name
# A random age between 18 and 60
# A random 10-digit phone number
# A random email based on their name

# Store the data in a nested Dictionary

import random
import string
 
# Sample first and last names
first_names = ["John", "Jane", "Alex", "Emily", "Chris", "Katie", "Mike", "Laura", "David", "Sophie"]
last_names = ["Smith", "Johnson", "Brown", "Williams", "Jones", "Garcia", "Miller", "Davis", "Martinez", "Lee"]
 
# Function to generate a random 10-digit phone number
def generate_phone():
    return ''.join(random.choices("0123456789", k=10))
 
# Generate user data
users_data = {}
 
for i in range(1, 11):
    first = random.choice(first_names)
    last = random.choice(last_names)
    full_name = f"{first} {last}"
    age = random.randint(18, 60)
    phone = generate_phone()
    email = f"{first.lower()}.{last.lower()}@example.com"
 
    users_data[f"user_{i}"] = {
        "name": full_name,
        "age": age,
        "phone": phone,
        "email": email
    }
 
# Print the nested dictionary
for user, data in users_data.items():
    print(f"{user}: {data}")

user_1: {'name': 'John Johnson', 'age': 23, 'phone': '3188220696', 'email': 'john.johnson@example.com'}
user_2: {'name': 'David Garcia', 'age': 52, 'phone': '9598399481', 'email': 'david.garcia@example.com'}
user_3: {'name': 'Alex Williams', 'age': 32, 'phone': '0315961877', 'email': 'alex.williams@example.com'}
user_4: {'name': 'Katie Lee', 'age': 40, 'phone': '3849376224', 'email': 'katie.lee@example.com'}
user_5: {'name': 'David Garcia', 'age': 60, 'phone': '8845974236', 'email': 'david.garcia@example.com'}
user_6: {'name': 'Alex Lee', 'age': 35, 'phone': '7437855647', 'email': 'alex.lee@example.com'}
user_7: {'name': 'Laura Martinez', 'age': 41, 'phone': '9608791706', 'email': 'laura.martinez@example.com'}
user_8: {'name': 'Chris Lee', 'age': 32, 'phone': '6971289087', 'email': 'chris.lee@example.com'}
user_9: {'name': 'John Garcia', 'age': 41, 'phone': '1609070281', 'email': 'john.garcia@example.com'}
user_10: {'name': 'Alex Martinez', 'age': 18, 'phone': '3091036713', 'email': 'alex.martinez@example.com'}